################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfGrabber/.vs
/WpfGrabber/bin/Debug
